<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Sonsuz Sevgi</title>
	<script src="cr.js"></script>
	<script src="jquery.min.js"></script>
	<script src="vue.min.js"></script>
	<script src="lodash.min.js"></script>
	<script src="firebase.js"></script>
	<script src="date.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="root">
		<div class="message-row" v-if="!users.length">
			<input type="password" placeholder="Şifre" v-model="password" @keyup.enter="get(password);" onkeyup="event.keyCode == 13 ? $(this).next().val('...').prop('disabled', true) : 1;">
			<input type="button" value="Göster" @click="get(password);" onclick="$(this).val('...').prop('disabled', true);">
		</div>
		<div class="message-row" v-for="message in messages" :class="{'me': message.from == 'ben'}" :id="message.time">
			<div class="name">{{message.from == "ben" ? "ahmetcanbey" : message.from}}: </div>
			<div class="message" v-html="repl(message.message)"></div>
			<div class="time">
				{{date('Y-m-d H:i:s', message.time / 1000)}}
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>
